### Qn:1

Initialize a dictionary "emp_info" with below details

In - emp_info['Tom']

Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

In - emp_info['Kathy']

Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

In [1]:
emp_info = {
    'Tom': {'email': 'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'},
    'Kathy': {'email': 'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}
    }


print("Tom's info:", emp_info['Tom'])
print("Kathy's info:", emp_info['Kathy'])

Tom's info: {'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
Kathy's info: {'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

### Qn: 2   

Create a dictionary out of below inputs

lst1 = ['emp1', 'emp2', 'emp3']

emp_key = ['e_name', 'e_id', 'e_sal']

emp1_val = ['John', 'SG101', '$10,000']

emp2_val = ['Smith', 'SG102', '$9,000']

emp3_val = ['Peter', 'SG103', '$9,500']

Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 

                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000},
                    
                   'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

In [2]:
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']


emp_info = {
    lst1[0]: {emp_key[0]: emp1_val[0], emp_key[1]: emp1_val[1], emp_key[2]: emp1_val[2]},
    lst1[1]: {emp_key[0]: emp2_val[0], emp_key[1]: emp2_val[1], emp_key[2]: emp2_val[2]},
    lst1[2]: {emp_key[0]: emp3_val[0], emp_key[1]: emp3_val[1], emp_key[2]: emp3_val[2]},
}


print(emp_info)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

### Qn. 3

Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [9]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}


val_history= sampleDict['class']['student']['marks']['history']

print("The marks in history:-",val_history)

The marks in history:- 80

## Qn.4

Initialize dictionary with default values. Inputs are:-

employees = ['Kelly', 'Emma', 'John']

defaults = {"designation": 'Application Developer', "salary": 8000}


Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 

                  'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
                  
                  'John': {'designation': 'Application Developer', 'salary': 8000}
                  }

In [23]:
#method1:

employees = ['Kelly', 'Emma', 'John']

defaults = {"designation": 'Application Developer', "salary": 8000}

emp_details = {
    'Kelly': {**defaults},
    'Emma' :{**defaults},
    'John' :{**defaults}
}

print(emp_details)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [24]:
#method2:

employee_info = {
    employees[0]: defaults.copy(),
    employees[1]: defaults.copy(),
    employees[2]: defaults.copy()
}

print(employee_info)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

### Qn.5

In gene expression, mRNA is transcribed from a DNA template. 

The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 

Write a function that returns the mRNA transcript given the sequence of a DNA strand.

Use a dictionary to provide the mapping of DNA to RNA bases.

In [26]:
def dna_to_mrna(dna_sequence):

    dna_to_rna = {
        'A': 'U',
        'T': 'A',
        'C': 'G',
        'G': 'C'
    }
    

    mrna_sequence = ''.join(dna_to_rna[base] for base in dna_sequence)
    
    return mrna_sequence


dna_sequence = "ATCG"
mrna_sequence = dna_to_mrna(dna_sequence)
print(f"DNA Sequence: {dna_sequence}")
print(f"mRNA Transcript: {mrna_sequence}")

DNA Sequence: ATCG
mRNA Transcript: UAGC

### Qn.6

Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.

In - count_letter('google.com')

Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [38]:
def count_letter(word):
    letter_count = {}
    
    for i in word:
        if i in letter_count:
            letter_count[i] = letter_count[i]+ 1
        else:
            letter_count[i] = 1
            
    return letter_count


word = "google.com"
count_letter(word)
print(count_letter(word))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}